.home{
    display: flex;
    flex-direction: column;
}

.home > img{
    position: relative;
    width: 100%;
}


.bloc {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.bloc-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35px;
    width: 100%;
}

.img {
    margin: 10px;
    margin-right: 20px;
    width: 40%;
    filter: brightness(75%);
    border-radius: 20px;
}

.separation > h1 {
    font-size: 2.5em;
}

.bloc-txt > h1 {
    margin: 15px;
}

.bloc-txt > p {
    font-size: 1.5em;
    margin: 15px;
}

.button-more {
    width: fit-content;
    padding: 10px;
    background-color: #ffa921;
    border-radius: 15px;
    border: none;
}

.separation > h1{
    margin-left: 1em;
}

.beers{
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.beer-section {
    margin-bottom: 80px;
}

.beer-section > div{
    width: 50%;
}


@media  screen and (max-width: 1554px) {

    div > h1 {
        font-size: 2em;
    }
    
    .bloc-txt > p{
        margin-left: 30px;
        font-size: 1em;
    }

}

@media  screen and (max-width: 1166px) {

    nav > ul > li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        width: 3.5em;
        height: 2.5em;
        border-radius: 2em;
    }
    
    nav > ul > li:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        width: 4em;
        height: 3em;
        border-radius: 2em;
    }

    div > h1 {
        font-size: 2em;
    }
    
    .bloc-txt > p{
        margin-left: 10px;
        font-size: 1em;
    }

    .home > p {
        font-size: 2em;
    }

    .bloc > img{
        display: none;
    }

}