body{
    background-image: url(../images/beer-background.jpeg);
    background-size: cover;
    margin: 0;
    
}

main{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5em;
    margin-bottom: 5em;
}

a{
    position:static;
    text-decoration: none;
    color: black;
    margin: 0;
}

nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 5em;

}

body > img{
    position:absolute;
    width: 10%
}

nav > ul{
    background-color: white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 35em;
    height: 4em;
    border-radius: 2em;
    border: solid whitesmoke 6px;
}

nav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 5em;
    height: 3em;
    border-radius: 2em;
}

nav > ul > li:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 5.5em;
    height: 3.5em;
    border-radius: 2em;
}

.home{
    display: flex;
    flex-direction: column;
}

.home > p {  
    position:relative;
    display: flex;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: end;
    font-size: 4em;
    margin: 10px;

}

.home > img{
    position: relative;
    width: 100%;
}


.bloc {
    display: flex;
    flex-direction: row;
}

.bloc-txt{
    flex-direction: column;
}

.img {
    margin: 10px;
    width: 40%;
    filter: brightness(75%);
    border-radius: 20px;
}

.bloc-txt > h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.bloc-txt > p{
    margin-left: 50px;
    font-size: 1.5em;
}

.separation > h1{
    margin-left: 1em;
}

.beers{
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.bloc-txt{
    width: 100%;
}

section{
    display: flex;
    flex-wrap:wrap;
}

.beer-section > div{
    width: 50%;
}


@media  screen and (max-width: 1554px) {

    .bloc-txt > h1 {
        font-size: 2em;
    }
    
    .bloc-txt > p{
        margin-left: 30px;
        font-size: 1em;
    }

}

@media  screen and (max-width: 3900px) {

    nav > ul > li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        width: 3.5em;
        height: 2.5em;
        border-radius: 2em;
    }
    
    nav > ul > li:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        width: 4em;
        height: 3em;
        border-radius: 2em;
    }

    
}

@media  screen and (max-width: 1166px) {

    .bloc-txt > h1 {
        font-size: 2em;
    }
    
    .bloc-txt > p{
        margin-left: 10px;
        font-size: 1em;
    }

    .home > p {
        font-size: 2em;
    }

    .bloc > img{
        display: none;
    }

}