main {
	background-color: whitesmoke;
	margin: 0 10%;
	padding: 5%;
}

main > hr {
	color: grey;
	margin: 5%;
}

.product {
	display: flex;
	flex-basis: 200px;
	flex-flow: nowrap row;
	justify-content: center;
	gap: 5%;
	margin: 0 auto;
	text-align: center;
	text-justify: none;
}


.product img {
	width: 30%;
	height: 60%;
}

.product div { 
	font-size: 14pt;
	text-align: center;
	width: 50%;
}

.product p {
	line-height: 28px;
}

.reverse {
	flex-direction: row-reverse;
}

.button-order {
	font-size: large;
    background-color: #ffa921;
    border-radius: 15px;
    border: none;
	height: 100%;
	padding: 20px;
}

.button-order:hover {
	cursor: pointer;
}

.order-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	min-width: 100%;
}

.order-box a {
	border-radius: 15px;
}

.price-tag {
	color: #606060;
	font-family: monospace;
}
